.wadahharga{
    width: 100%;
    height: 100%;
}
.wadahebuton{
    justify-content: center;
    align-items: center;
}

.btndh{
    background-color: #ba0000;
    width: 200px;
    margin-top: 60px;
    margin-left: 40%;
    height: 50px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.wadahharga h1{
    font-size: 50px;
    font-weight: 600;
    font-family: poppins;
   text-align: center;
    margin-top: 20px;
    color: #ba0000;
    text-shadow: 2px 2px 2px #000000;
}

.wadahharga h2{
    color: #000000;
    font-weight: 600;
    font-family: poppins;
    margin-left: 1vw;
}

.search{
    border: #ba0000 2px solid;
    border-radius: 5px;
    width: 20%;
    height: 35px;
    margin-left: 15px;
    padding-left: 10px;
    color: #000000;
}

@media screen and (max-width: 1115px){
    .harga {
        margin-left: 1vw !important;
    }
    .search{
        width: 200px;
    }
}

@media screen and (max-width: 560px){
.harga{
    height: 450px !important;
}
.wadahharga h1{
    font-size: 30px;
}
.wadahharga h2{
    text-align: center;
    font-size: 13px;
}
.wadahcari {
    text-align: center;
    margin-left: -20px;
}


}