.background-pdkb{
    width: 100%;
    height: 100vw;
    background: rgb(214, 214, 214);
}

span {
    color: #c80000;
}

.wadahgambar{
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wadah-about{
    padding-top: 80px;
    padding-bottom: 5%;
    width: 100%;
    height: fit-content;
    display: flex;
}

.about{
    width: 92%;
    margin-left: 4%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(132.39deg, #a7a7a7 23.86%, #656565 73.53%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

.gambar-about{
    width: 30%;
    height: 100%;
}

.gambar-about img{
    background-size: 100%;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 36px;
}

.teksabout{
    width: 70%;
    display: inline;
}

.teksatas{
    width: fit-content;
    height: 100px;
    margin-left: 60px;
    margin-top: 3%;
}

.teksatas h1{
    font-family: poppins;
    font-weight: 600;
    font-size: 60px;
    margin-top: 27%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000;
}

.teksbawah{
    width: fit-content;
    margin-left: 60px;
    margin-right: 30px;
}

.teksbawah h1{
    color: rgb(255, 255, 255);
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

.wadahdashtengah{
    width: 100%;
    height: fit-content;
    background-color: rgb(183, 183, 183);
}

.teksdash{
    width: 50%;
}
.teksskills{
    width: 100%;
}
.pict{
    width: 50%;
}

.teksdash h1{
    margin-left: 30px;
    margin-top: 20%;
    font-family: poppins;
    font-size: 40px;
    font-weight: 600;
}

.teksskills h1{
    /* margin-left: 55px; */
    text-align: center;
    padding-top: 2%;
    font-family: poppins;
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}


.teksdash ul{
    margin-top: 20px;
    margin-left: 30px;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

.teksdash h2{
    margin-top: 20px;
    margin-left: 30px;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}

.foto{
    margin-left: 25%;
    margin-top: 75px;
}

.pendidikan button{
    margin-left: 25px;
    margin-top: 20px;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.card {
    height: 315px;
    width: 300px;
    padding: 20px 30px;
    background: #2f2f2f;
    border-radius: 20px;
    margin: 45px;
    position: relative;
    text-align: center;
}
.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #8b0000;
}
h5 {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;

}
.txt p {
    color: #fafafa;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button {
    background-color: #8b0000;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
}
.card .button:hover {
    background-color: transparent;
    border: 2px solid #520000;
    cursor: pointer;
}



.kontak-saya {
    width: 100%;
    background: #191919;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.kontak-saya p{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.kontak-saya .button-dua {
    background-color: #1075a0;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}
.kontak-saya .button-dua:hover{
    background-color: transparent;
    border: 2px solid #1075a0;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 365px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold
}
footer p:nth-child(2){
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 26px;
}
.sosial {
    display: flex;
}
.sosial a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b4b4b4;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.sosial a:hover{
    transform: scale(1.2);
    transition: .3s;
    color: #ffffff;
}

.sosial-ig {
    display: flex;
}
.sosial-ig a {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1075a0;
    border-radius: 50%;
    margin-left: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 0px;
}

.sosial-ig a:hover{
    transform: rotate(360deg);
    text-shadow: 0 0 10px;
}

.end{
    color: #ffffffa1;
}

@media screen and (max-width:1300px){
    .teksbawah h1{
        font-size: 15px;
    }
    .teksatas h1{
        font-size: 55px;
        margin-top: 22%;
    }
}

@media screen and (max-width:1000px){
    .teksbawah h1{
        font-size: 13px;
    }
    .teksatas h1{
        font-size: 40px;
        margin-top: 18%;
    }
    .teksatas{
        height: 70px;
    }
}

@media screen and (max-width:800px){
    .teksbawah h1{
        font-size: 10px;
    }
    .teksatas h1{
        font-size: 30px;
        margin-top: 25%;
    }
    .teksatas{
        height: 50px;
    }
    .wadah-about{
        padding-top: 30px;
    }
}

@media screen and (max-width:650px){
    .gambar-about img{
        border-radius: 15px;
    }
    .teksbawah h1{
        font-size: 8px;
        color: #fff !important;
        text-shadow: 1px 1px 1px #000000;
    }
    .box {
        display: inline;
        justify-content: center;
    }
    .card{
        margin-left: 20vw;
        /* margin-top: 20px; */
        width: 57%;
    }
    .wadahdashtengah{
        height: fit-content;
    }
    .wadah-about{
        padding-top: 30px;
    }
}

@media screen and (max-width:550px){
    .teksbawah h1{
        font-size: 7px;
    }
    .teksatas h1{
        margin-top: 14%;
    }

}

@media screen and (max-width:455px){
    .card{
        margin-left: 10vw;
        width: 80%;
    }
    .teksskills h1{
        font-size: 30px;
    }
    .teksbawah h1{
        font-size: 7px;
        margin-top: -20px;
        margin-left: -20px;    
    }
    .teksatas h1{
        font-size: 20px;
        margin-top: 19%;
    }
    .gambar-about img {
        border-radius: 10px;
        margin-left: 20px;
    }
    .gambar-about img {
        border-radius: 10px;
    }
    .card button{
        padding: 8px 5px;
    }
    .h5{
        margin-top: -5px;
    }

}

@media screen and (max-width:365px){
    .teksbawah h1{
        font-size: 5px;
    }
    .ander{
        width: fit-content;
    }
}
    